@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&family=Nunito:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .spinner {
  display: none !important;
}

#nprogress .bar {
  background: #2a3192 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #2a3192, 0 0 5px #2a3192 !important;
}
